h1{
    color: blue;
}

img{
    width: 240px;

}

input{
    border: 1px solid #cccccc;
    padding: 8px
}


button{
    cursor: pointer;
    border: 1px solid #888888;
    background: #888888;
    padding: 8px;
    color:#cccccc;
}